@using AirDrop.Models;
<html>
<body>
   
    <!--MAIN DIV-->
   @* <div>
        <div style="font-size: 13px">
            @foreach (CryptoCurrencyData m in ViewBag.cryptoCurrencyData)
            {
                <span>@m.symbol :</span>
                <span style="color:blue">@m.Price</span>
                <span>&nbsp</span>
            }
        </div>
    </div>*@
    <div class="website">
        <!--TOP AIRDROPS-->
        <div class="main-container">
            
          @*  <div class="top-crypto">
                @foreach (CryptoCurrencyData m in ViewBag.cryptoCurrencyData)
                {
                    <div class="crypto-details">
                        <div style="display: flex;">
                            <img style="height: 1.8rem;" src="@m.logo_url" />
                            <h3>@m.symbol</h3>
                        </div>
                       
                        <p>@m.price</p>
                    </div>
                }
             </div>*@
       
           @* <div >
                <h3>Try our prediction model</h3>
            </div>
            <div class="topdrop-container">
                <div class="topdrop-info">
                    <div class="heading">
                        <h3>BAT</h3>
                    </div>
                    <img class="bat-drop" height="150" width="160" src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/bat.svg" />
                </div>
                <div class="topdrop-info">
                    <div class="heading">
                        <h3>VRA</h3>
                    </div>
                    <img class="bat-drop" height="150" src="https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/vra.jpg" />
                </div>
                <div class="topdrop-info">
                    <div class="heading">
                        <h3>BTT</h3>
                    </div>
                    <img class="bat-drop" height="150" src="~/media/btt.png">
                </div>


                <div class="view-all"><h4>View all</h4></div>
            </div>*@

            <div class="cards-container">
                <div class="gainers-card">
                    <h3>Top Coins</h3><br />
                    <table id="coin">
                        @foreach(CryptoCurrencyData d in ViewBag.cryptoCurrencyData)
                        {
                            <tr>
                                <th>@d.rank</th>
                                <th>
                                    <img class="text-left" height="27" style="padding: 0 0 5px 5px;" src="@d.logo_url" />
                                </th>
                                <th style="margin:0 8px 0 8px">@d.symbol</th>
                                <th>$@d.Price</th>
                            </tr>
                        }
                    </table>
                        @*<div class="top-coin">
                            @foreach (CryptoCurrencyData d in ViewBag.cryptoCurrencyData)
                            {
                                
                                    <img class="text-left" height="27" style="padding: 0 0 5px 5px;" src="@d.logo_url" />
                                    <div style="margin:0 8px 0 8px">@d.symbol</div>
                                    <div>@d.Price</div>
                                
                            }
                        </div>*@

                </div>
                <div class="gainers-card">
                    <div>
                        <img src="~/media/Forex-candlestick-patterns.png" />
                    </div>
                    <div>
                        <h4>Try Our Prediction Model</h4>
                    </div>
                    
                </div>
            </div>

            <div class="content-container">
                <h3>Explore Crypto</h3>
                @foreach (CurrentAirdropsData m in ViewBag.currentAirdropsData)
                {
                    <div class="currentdrop-info">
                        <div class="current-head"><h3>@m.Name <a href=""><img height="30" style="padding-bottom: 5px;" src="~/media/cmc.png" title="view on coinmarketcap" alt="coinmarketcap logo" /></a></h3></div>
                        <p>@m.Info</p>
                        <p>know more </p><a href="@m.ParticipateLink"></a>
                    </div>
                }
            </div>
        </div>

        <!--SIDE CONTENT-->
       @* <div class="gainers-container">
            <div>
                @foreach (CryptoCurrencyData m in ViewBag.cryptoCurrencyData)
                {
                    <div class="top-currency">
                        <div style="display: flex; justify-content: center; align-items: center">
                            <h3>@m.symbol</h3><img height="27" style="padding: 0 0 5px 5px;" src="@m.logo_url" />
                        </div>
                        <p style="text-align: center">@m.Price</p><div></div>
                    </div>
                }
            </div>
            
            
        </div>*@


    </div>

    @* <section>
            <div class="side-box">
                <blockquote class="twitter-tweet" data-theme="dark">
                    <p lang="en" dir="ltr">
                        Cherokee
                        Nation Chief Says SpaceX Starlink Will Help Tribe Members Living In Rural Oklahoma<a href="https://t.co/3MAloGdZ2o">https://t.co/3MAloGdZ2o</a>
                    </p>&mdash; Vincent Yu <a href="https://twitter.com/vincent13031925/status/1417427520266268677?ref_src=twsrc%5Etfw">July 20, 2021</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </section>*@

<section class="news-container">
    <h3>News Today</h3>
    <div class="news-wrapper">
        <button class="left-paddle paddle hidden">
            <
        </button>
        <div class="news">

           
            <div class="news-box">
                box-1 Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </div>
            <div class="news-box">
                box-2 Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </div>
            <div class="news-box">
                box-3 Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </div>
            <div class="news-box">
                box-4 Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </div>
            <div class="news-box">
                box-5 Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </div>
          
        </div>
        <button class="right-paddle paddle hidden">
            >
        </button>
    </div>


</section>


    <div>
        <form asp-action="">
            <div class="email-container">
                <h4>Join Newsletter</h4>
                <div>
                    <input class="emailadd" type="text" placeholder="Email address" name"mail" required />
                </div>
                <div>
                    <input class="emailsubmit" type="submit" value="Subscribe" />
                </div>
            </div>

        </form>
    </div>





</body>

</html>